*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow: hidden;
    background: #9594b380;
    z-index: -1;
}

/* header 관련 부분 */
#title-wrap{
    color: white;
    height: 100px;
    position: relative;
    margin: 20px 20px 0px 20px;
    border-bottom: 1px solid #ffffff1f;
}
 
#title-wrap.hidden{
    display:none;   

}

/*
img{
    width: -webkit-fill-available;
    z-index: 0;
    position: absolute;
    min-width: 100%;
    max-height: 300px;
   filter: brightness(40%);
}
*/

.title{
    font-size: 35px;
    font-weight: bold;
    text-shadow: 3px 3px black;
    /*height: 100%;*/
    left: 20%;
    position: absolute;
    width: 50%;
    margin-left: -50px;
    padding-top:15px;
}

/* content 관련 부분 */

/*
#main-container{
    margin-top: 10px;
    width: 100%;
    height: 80%;
    position: relative;
   
}


.list-background{
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
    height: 100%;
    left: 38%;
    position: absolute;
    width: 30%;
    margin-left: -50px;
    background: rgb(255, 255, 255);
}
*/
#main{
    margin:15px 50px 0px 50px;
    width: auto;
    height: 80%;
    position: relative;
    padding:15px 50px 0px 50px;
}

/* clock */
.clock-wrap{
    position: absolute;
    width: 400px;
    background: #453966;
    height: 150px;
    border-radius: 20px;
    border: none;
    color:white;
    text-align: center;
    padding:10px
}

.clock{
   font-size: 90px;
   
}

/* weather */
.weather-wrap{
    position: absolute;
    background: #9ccdce;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: none;
    color:black;
    text-align: center;
    padding:10px;
    top:200px;
    
    /* #d08794 */
}

.city{
    text-align: left;
    font-weight: 700;
    font-size: 15px;
}

.weathericon{
    width: 150px;
    height: 150px;
}

.weather{
    font-size: 18px;
    font-weight: 600;
}

.min-max{
    padding-top: 10px;
}
.min{
    float: left;
    padding-left: 70px;
    color: blue;
}


.max{
    float: right;
    padding-right: 65px;
    color:red;
}

/* 로그인 화면  */
#login-form{
    text-align: center;
}

#login-form.hidden{
    display: none;
}

.login{
    font-size: 45px;
    font-weight: bold;
    color:black;
    margin-top : 140px;
    text-shadow: 3px 2px 0rem hsl(0deg 0% 0% / 20%);
}

.name{
    margin-top:60px;
    width:600px;
    border-radius: 20px;
    height: 40px;
    outline: none;
    border: none;
    background: #000000b0;
    color:white;
    padding-left: 20px;
    font-size: 20px;
    display: inline;
    box-shadow: 2px 3px #0000003b;
    line-height:70px;
}

.go_btn{
    width:100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    font-size: 20px;
    border:none;
    margin-left: -105px;
    display: inline;
    background:#d9cfcf;
    color: black;
    outline: none;

}